// START:: ROOT ELEMENT
:root {
  // =========== START:: THEME COLORS ===========
  --theme_main_bg_clr: #fbf9f4;
  --theme_second_bg_clr: #f7f5ef;
  --theme_third_bg_clr: #fbf9f4;
  --form_content_bg_clr: #fff;
  --footer_bg_clr: #1c1d20;
  --small_footer_bg_clr: #e6e4e0;
  --theme_text_clr: #313131;
  --theme_secondary_text_clr: #a8b1c1;
  --main_theme_clr: #6c98a2;
  --dark_main_theme_clr: #29479a;
  --very_light_theme_clr: #fbfffc;
  --soft_main_theme_clr: #9ac4cea1;
  --secondary_theme_clr: #f5ecff;
  --blurred_clr: rgba(255, 255, 255, 0.6);
  --map_overlay_clr: rgba(225, 225, 225, 0.6);
  --simple_shadow_clr: rgba(225, 225, 225, 0.3);
  --mid_shadow_clr: rgba(225, 225, 225, 0.6);
  --border_clr: #f3f3f3;
  --skeleton_loader_card_clr: #ebebeb;
  // =========== END:: THEME COLORS ===========

  // =========== START:: BASE COLORS ===========
  --white_clr: #fff;
  --lighter_gray_clr: #f7f7fa;
  --light_gray_clr: #8d8d8d;
  --mid_gray_clr: #313131;
  --dark_gray_clr: #212121;
  --mid_blue_clr: #103580;
  --mid_green_clr: #34bf6c;
  --deep_red-clr: #810000;
  --mid_red_clr: #fa4248;
  --light_red_clr: #ff2159;
  --soft_red_clr: #ffd8e2;
  --gold_clr: #ffdd00;
  --soft_yellow_clr: #fff8cc;
  // =========== END:: BASE COLORS ===========

  // =========== START:: BRANDS COLORS ===========
  --facebook_clr: #4267b2;
  --twitter_clr: #1da1f2;
  --whatsApp_clr: #25d366;
  --telegram_clr: #0088cc;
  --linkedin_clr: #2867b2;
  --youtube_clr: #ff0000;
  // =========== END:: BRANDS COLORS ===========
}
// END:: ROOT ELEMENT

// START:: ARABIC FONTS
$light_font: "Cairo-Light";
$regular_font: "Cairo-Regular";
$medium_font: "Cairo-Medium";
$semi_bold_font: "Cairo-SemiBold";
$bold_font: "Cairo-Bold";
$extra_bold_font: "Cairo-ExtraBold";
// END:: ARABIC FONTS
