* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $regular_font;
}
body[dir="rtl"] {
  .v-text-field__slot {
    .v-label {
      right: 0px !important;
      left: auto !important;
    }
  }
}
a {
  text-decoration: none;
  color: black !important;
  font-weight: bold;
}
