// START:: FONT
@font-face {
  font-family: $light_font;
  src: url("../fonts/Cairo-Light.ttf");
}
@font-face {
  font-family: $regular_font;
  src: url("../fonts/Cairo-Regular.ttf");
}
@font-face {
  font-family: $medium_font;
  src: url("../fonts/Cairo-Medium.ttf");
}
@font-face {
  font-family: $semi_bold_font;
  src: url("../fonts/Cairo-SemiBold.ttf");
}
@font-face {
  font-family: $bold_font;
  src: url("../fonts/Cairo-Bold.ttf");
}
@font-face {
  font-family: $extra_bold_font;
  src: url("../fonts/Cairo-ExtraBold.ttf");
}
// END:: FONT

h1 {
  font-size: 2rem;
  font-family: $medium_font;
}
h2 {
  font-size: 1.7rem;
  font-family: $medium_font;
}
h3 {
  font-size: 1.3rem;
  font-family: $medium_font;
}
h4 {
  font-size: 1.1rem;
  font-family: $medium_font;
}
p {
  font-size: 1rem;
  font-family: $medium_font;
}
.light_gray {
  color: var(--light_gray_clr);
}
.red-text {
  color: var(--mid_red_clr) !important;
}
