.nav_bar_container {
  background: white;
  width: 100%;
  padding: 0rem 1rem;
  transition: all 0.5s;
  .nav_bar {
    max-width: 1500px;
    // padding: rem 0rem;
    margin: 0 auto;
    height: 78px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav_links_small_btn {
      display: none;
      @media screen and (max-width: 1000px) {
        display: block;
        background-color: var(--main_theme_clr);
        width: 40px;
        height: 40px;
        font-size: 1.2rem;
        color: white;
        border-radius: 50%;
        transition: all 0.3s;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}
.fixed_nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  background: linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.7)
  );
  backdrop-filter: blur(10px);
  animation-name: fadeInUp;
  animation-duration: 1s;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    top: -50px;
  }

  to {
    opacity: 1;
    top: 0;
  }
}
